.content-header-wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d4d7d9;
}
.content-header {
    order: 0;
    padding-top: 8px;
}
.content-button {
    order: 1;
    margin-bottom: 1rem;
    i {
        color: #066ee0;
    }
}
