<nav class="side-nav-contents">
    <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">
                <span translate>Dashboard</span>
            </a>
        </span>
    </div>
    <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
                <span translate>Test Suite</span>
            </a>
        </span>
    </div>
    <!--     <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
                <span translate>Test Data</span>
            </a>
        </span>
    </div>
    <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
                <span translate>Test Case</span>
            </a>
        </span>
    </div> -->
</nav>
