<div class="split-side-navs">
    <div class="test-nav-items">
        <a href="javascript: void(0)">Tests</a>
    </div>
    <div class="settings-nav-items">
        <a href="javascript: void(0)">Settings</a>
    </div>
</div>
<nav class="side-nav-contents">
    <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">
                <span translate>Execution Results</span>
            </a>
        </span>
    </div>
    <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
                <span translate>Test Case</span>
            </a>
        </span>
    </div>
    <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/testsuite">
                <span translate>Test Suite</span>
            </a>
        </span>
    </div>
    <div class="nav-item-container">
        <span class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/testdata">
                <span translate>Test Data</span>
            </a>
        </span>
    </div>
</nav>
