@import "../../../theme/theme-variables.scss";
@import "src/theme/app-mixins.scss";

.navbar {
    /*   margin-bottom: $spacer; */
    background-color: $white;
    border-bottom: 1px solid #d4d7d9;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

.user {
    display: flex;
    align-items: center;
}

.navbar-toggler-icon {
    @include insert-icons("toggle-icon.svg");
}

.navbar-brand {
    color: $font-color;
}
.nav-link.dropdown-toggle {
    cursor: pointer;
}

.nav-item {
    color: $black;
}

.project-dropdown {
    margin-right: 2rem;
}
