@import "src/theme/theme-variables";

.navbar {
    /*   margin-bottom: $spacer; */
    background-color: $white;
    border-bottom: 1px solid #d4d7d9;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    color: $font-color;
}
.nav-link.dropdown-toggle {
    cursor: pointer;
}

.nav-item {
    color: $black;
}

.project-dropdown {
    margin-right: 2rem;
}
