.shell-container {
    .main-container {
        margin-top: 66px;
        min-height: 100%;

        .main-content {
            margin-left: 200px;
            background: #fff;
            animation: fadeIn 1s;

            &:before {
                content: " ";
                background: rgba(0, 0, 0, 0.4);
                z-index: 12;
                position: fixed;
                left: 200px;
                right: 0;
                top: 57px;
                bottom: 0;
                display: none;
                /* 
                Device = Tablets, Ipads (portrait)
                Screen = B/w 768px to 1024px
            */
                @media (min-width: 768px) and (max-width: 1024px) {
                    display: block;
                }
            }

            /* 
                Device = Tablets, Ipads (portrait)
                Screen = B/w 768px to 1024px
            */
            @media (min-width: 768px) and (max-width: 1024px) {
                margin-left: 0;
            }

            /* 
                    Device = Tablets, Ipads (landscape)
                    Screen = B/w 768px to 1024px
                */
            @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
                margin-left: 0;
            }
        }

        .main-content.full-width {
            &:before {
                display: none;
            }
        }

        .side-nav-wrapper {
            position: fixed;
            top: 58px;
            left: 0;
            bottom: 0;
            width: 200px;
            z-index: 11;
            transition: width 0.3s ease-in-out;
            border-right: 1px solid #d4d7d9;
            background-color: #f9fafa;
            &.hide {
                width: 0;
                .side-nav {
                    display: none;
                }
            }
        }
    }
}
