<section class="shell-container">
    <app-header (toggleSideNav)="toggleSideNav()"></app-header>
    <section
        class="section main-container"
        data-section-type="Content container"
    >
        <div class="main-content" [ngClass]="{ 'full-width': hideSideNav }">
            <router-outlet></router-outlet>
        </div>
        <aside class="side-nav-wrapper" [ngClass]="{ hide: hideSideNav }">
            <div class="side-nav">
                <app-side-nav></app-side-nav>
            </div>
        </aside>
    </section>
</section>
